---
import Link from '../components/Link.astro'
import Button from '../components/Button.astro'
import { Image } from 'astro:assets';
import some from "../assets/images/some.svg";
---

<section class="bg-creamywhite px-16 md:px-32 py-2 ">

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full mb-28   mt-[6rem] md:mt-[0em]">

        <div>
            <h4 class="text-h4_mobil md:text-h4 font-bold mb-2">
                KONTAKT
            </h4>
            <p class="text-p_mobil md:text-p">
                Telefon:7027 9007
                <br>
                Mandag til Fredag // Kl. 
                <br>
                10.00-16.00
                <br>
                Mail:info@hojskolendk.dk
            </p>
        </div>

        <div class="">
         
                 <p class=" md:text-Link font-light hover:underline mb-2">Højskoleophold</p>

                 <p class="md:text-Link font-light hover:underline mb-2">Praktisk info</p>
         
                 <p class="md:text-Link font-light hover:underline mb-2">Infomødeo</p>
    
                <p class="md:text-Link font-light hover:underline mb-2">Om os</p>
          </div>

        <div>

    
                         <p class="md:text-Link font-light">Følg os på sociale medier</p>
                         
                <div>
                        <Image class="max-w-[300px] lg:max-w-[600px mt-5" src={some} alt="forside"/>
                      
                </div>

        </div>
    </div>
</section>