---
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import forside from "../assets/images/forside.webp";
import landingpage from "../assets/images/landingpage.webp";
import Card from "../components/Card.astro";
import landingpage_1 from "../assets/images/landingpage_1.webp";
import landingpage_2 from "../assets/images/landingpage_2.webp";
import landingpage_3 from "../assets/images/landingpage_3.webp";
import landingpage_4 from "../assets/images/landingpage_4.webp";
---
<div class="bg-creamywhite">

  <section class="relative w-full h-auto lg:h-screen lg:pb-0 pb-36">
    <!-- Billedet, som skal være bag teksten -->
    <Image class="absolute top-0 left-0 w-full h-[500px] lg:h-screen object-cover z-0" 
      src={forside} alt="forsidebillede"/>
    
    <!-- Teksten og knappen, som skal være foran billedet -->
    <div class="relative z-10 lg:pl-16 lg:pt-48 pt-24 lg:text-left flex flex-col items-center lg:items-start">
      <h1 class="font-pennypacker lg:text-h1 text-h1_mobil text-white text-center">HØJSKOLE I UDLANDET</h1>
      <p class="font-sans lg:text-h5 font-light text-white">Tag på dit livs eventyr med andre unge</p>
      <div class="lg:pt-8 pt-6">
        <Button variant="primary" size="medium" href="">SE DESTINATIONER</Button>
      </div>
    </div>

    
    
  </section>
  
<!--SECTION I MOBILVERSION, SKJULT I DESKTOP -->
<section class="pt-48 text-center lg:text-left px-8 lg:px-0 block lg:hidden">
    <h3 class="text-black font-pennypacker lg:text-h3 text-h3_mobil pb-6 text-center lg:text-left">ET HØJSKOLEOPHOLD DU ALDRIG GLEMMER</h3>
    <Image class="rounded-[30px]" src={landingpage} alt="vandring"/>
    <section class="my-6 px-2 md:hidden block">
      <div class="flex space-x-4 justify-end mt-4">
        <div class="w-4 h-4 bg-darkorange rounded-full"></div>
        <div class="w-4 h-4 bg-darkorange rounded-full"></div>
        <div class="w-4 h-4 bg-darkorange rounded-full"></div>
        <div class="w-4 h-4 bg-darkorange rounded-full"></div>
        <div class="w-4 h-4 bg-darkorange rounded-full"></div>
        <div class="w-4 h-4 bg-darkorange rounded-full hidden md:block"></div>
        <div class="w-4 h-4 bg-darkorange rounded-full hidden md:block"></div>
      </div>
    </section>
    <p class="pt-4 font-sans lg:text-broedtekst text-broedtekst_mobil">HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi brænder for oplevelser, fællesskab og mødet med nye mennesker og kulturer; derfor laver vi eventyrlige højskoleophold i udlandet.</p>
    <p class="pt-4 font-sans lg:text-broedtekst text-broedtekst_mobil">HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er vild med højskolefællesskab, vil med på et fantastisk rejseeventyr, glæder dig til at lære om fremmede kulturer, vil rejse med rygsæk, drømmer om en fed grupperejse med andre skønne unge, vil opleve et stærkt sammenhold og ønsker inspirerende og meningsfuld undervisning. Du er sikker på en tryg rejseoplevelse da vi er medlem af Rejsegarantifonden.</p>
    <p class="pt-4 font-sans lg:text-broedtekst text-broedtekst_mobil">Vi glæder os til at lære dig at kende!</p>

    <div class="pt-10 flex justify-center lg:justify-start">
    <Button variant="secondary" size="small" href="">TILMELD</Button>
  </div>
  <div class="pt-4 flex justify-center lg:justify-start">
    <Button variant="primary" size="small" href="">TILMELD INFOMØDE</Button>
    <Button variant="primary" size="small" href="">BLIV OPDATERET</Button>
  </div>
</section>

<!-- SECTION MED GRID I DESKTOPVERSION, SKJULT I MOBIL -->
<section class="pt-64 px-48 hidden lg:grid lg:grid-cols-2 lg:grid-rows-1 gap-20">
  <!-- Venstre kolonne med tekst -->
  <div class="col-span-1">
    <h3 class="text-black font-pennypacker lg:text-h3 pb-6">ET HØJSKOLEOPHOLD DU ALDRIG GLEMMER</h3>
    <p class="pt-4 font-sans lg:text-broedtekst">HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi brænder for oplevelser, fællesskab og mødet med nye mennesker og kulturer; derfor laver vi eventyrlige højskoleophold i udlandet.</p>
    <p class="pt-4 font-sans lg:text-broedtekst">HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er vild med højskolefællesskab, vil med på et fantastisk rejseeventyr, glæder dig til at lære om fremmede kulturer, vil rejse med rygsæk, drømmer om en fed grupperejse med andre skønne unge, vil opleve et stærkt sammenhold og ønsker inspirerende og meningsfuld undervisning. Du er sikker på en tryg rejseoplevelse da vi er medlem af Rejsegarantifonden.</p>
    <p class="pt-4 font-sans lg:text-broedtekst">Vi glæder os til at lære dig at kende!</p>
    <div class="pt-10">
    <Button variant="secondary" size="small" href="">TILMELD</Button>
  </div>
    <div class="pt-4 flex justify-start">
      <Button variant="primary" size="small" href="">TILMELD INFOMØDE</Button>
      <Button variant="primary" size="small" href="">BLIV OPDATERET</Button>
    </div>
  </div>

  <!-- Højre kolonne med billede -->
  <div class="col-span-1">
    <Image class="rounded-[30px] w-full h-full object-cover" src={landingpage} alt="vandring"/>
  </div>
</section>
<section class="my-8 px-16 md:px-48 py-2 hidden md:block">
  <div class="flex space-x-4 justify-end mt-4">
    <div class="w-4 h-4 bg-darkorange rounded-full"></div>
    <div class="w-4 h-4 bg-darkorange rounded-full"></div>
    <div class="w-4 h-4 bg-darkorange rounded-full"></div>
    <div class="w-4 h-4 bg-darkorange rounded-full"></div>
    <div class="w-4 h-4 bg-darkorange rounded-full"></div>
    <div class="w-4 h-4 bg-darkorange rounded-full hidden md:block"></div>
    <div class="w-4 h-4 bg-darkorange rounded-full hidden md:block"></div>
  </div>
</section>


  <!-- CARDS -->
  <section class="pt-24 md:pt-36 pb-32 md:pb-64 text-center">
    <h3 class="text-black font-pennypacker lg:text-h3 text-h3_mobil md:pb-4 pb-2 px-8 lg:px-0">VÆLG DIN DRØMMEDESTINATION</h3>
    <p class="font-sans lg:text-broedtekst text-broedtekst_mobil px-8 lg:px-64">Vi har pakkerejser til adskillige eventyrlige steder i verden. Vælg din drømmedestination nedenfor eller se det fulde overblik under “Se destinationer.”</p>
    
    <!-- Grid container med 4 kolonner på desktop (md) -->
    <section class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 gap-4 lg:pt-8 pt-6">
        
        <!-- Første Card - Dette skal altid vises -->
        <Card
            url="#"
            cardimage="landingpage_1.webp"
            cardimagealt="Billede af destination"
            destination="Caribien, Hawaii & Mexico"
            afrejse="29/03/2025"
            varighed="3 måneder"
            pris=" 30.000 kr."
        ></Card>

        <!-- Andet Card - Skjules på mobil, vises fra 640px og op -->
         <div class="hidden md:block">
        <Card
            url="#"
            cardimage="landingpage_2.webp"
            cardimagealt="Billede af destination"
            destination="Indien, Nepal & Thailand"
            afrejse="29/03/2025"
            varighed="3 måneder"
            pris=" 30.000 kr."
        ></Card></div>

        <!-- Tredje Card - Skjules på mobil, vises fra 640px og op -->
        <div class="hidden md:block">
        <Card
            url="#"
            cardimage="landingpage_3.webp"
            cardimagealt="Billede af destination"
            destination="Costa Rica, Mexico & Peru"
            afrejse="29/03/2025"
            varighed="3 måneder"
            pris=" 30.000 kr."
            class="hidden md:block"
        ></Card></div>

        <!-- Fjerde Card - Skjules på mobil, vises fra 640px og op -->
        <div class="hidden md:block">
        <Card
            url="#"
            cardimage="landingpage_4.webp"
            cardimagealt="Billede af destination"
            destination="Hawaii, Australien & Japan"
            afrejse="29/03/2025"
            varighed="3 måneder"
            pris=" 30.000 kr."
            class="hidden md:block"
        ></Card></div>
    </section>
    <div class="flex justify-center pt-10">
      <Button variant="primary" size="medium" href="">SE DESTINATIONER</Button>
    </div>
</section>
