---
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import logo from "../assets/images/logo.png";
---

<div class="flex flex-row">
    <!-- LOGO OG MENUPUNKTER -->
    <div x-data="{ showmenu: false }" class="p-4 pt-8 w-full bg-creamywhite z-50">
      <div id="navbar" class="flex flex-row justify-between items-center">
        <div class="flex flex-row items-center md:gap-10">
          <div id="logo">
            <Image class="h-auto lg:w-60 w-40 lg:pl-10" src={logo} alt="logo"/>
          </div>
  
          <!-- Desktopmenu (skjult på mobil) -->
          <nav id="desktopmenu" class="hidden lg:flex gap-12 text-broedtekst pl-[550px]">
            <a href="#" class="hover:text-burned-orange">Højskoleophold</a>
            <a href="#" class="hover:text-burned-orange">Praktisk info</a>
            <a href="#" class="hover:text-burned-orange">Infomøde</a>
            <a href="#" class="hover:text-burned-orange">Om os</a>
  
            <!-- CTA KNAP -->
              <Button variant="secondary" size="small"><a href="">TILMELD</a></Button>
          </nav>
        </div>
    
        <!-- BURGERMENU (synlig på mobil) -->
        <div class="flex items-center lg:hidden relative">
          <!-- Mobil Knap til venstre for burgermenuen -->
          <div class="flex items-center mr-4">
            <Button variant="mobilsecondary" size="small" href="">TILMELD</Button>
          </div>
    
          <!-- Burgerikon (på højre side) -->
          <button id="burgermenu" class="text-black flex flex-row ml-auto" x-on:click="showmenu = !showmenu">
            <!-- Burger Icon (3 lines) -->
            <svg x-show="!showmenu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-9 transition-transform duration-300">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
          </button>
        </div>
      </div>
    
      <!-- MOBILMENU -->
      <nav id="mobilmenu" class="pb-20 w-full fixed top-0 left-0 flex flex-col content-center bg-creamywhite text-black text-menu z-80 bg-beige-one" x-show="showmenu" x-transition>
        <!-- Lukke ikon (X) i hjørnet -->
        <button class="absolute top-8 right-4" x-on:click="showmenu = false">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-9">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
  
        <ul class="mt-16">
          <li class="py-6 pl-16 text-black"><a href="/#">Højskoleophold</a></li>
          <li class="py-6 pl-16 text-black"><a href="/#">Praktisk info</a></li>
          <li class="py-6 pl-16 text-black"><a href="/#">Dit bidrag</a></li>
          <li class="py-6 pl-16 text-black"><a href="/#">Infomøde</a></li>
          <li class="py-6 pl-16 text-black"><a href="/#">Om os</a></li>
        </ul>
      </nav>
    </div>
  </div>
